<!DOCTYPE html>
<html lang="en" ng-app="myApp" id="myApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="./main.js"></script>
</head>
<body ng-controller="myController">
    
    {{msg}}
         <a href="javascript:;" id="lbtnTest"> Llamar </a>
         <h1>Operacion</h1>
         <form>
            {{todos}}
            <div class="form-group">
                <label for="valor">Num1</label><br>
                <input type="text" class="form-control input-lg text-center" placeholder="Inserta Num 1" id="num1" ng-model="formData.num1"><br>
                <label for="valor">Num2</label><br>
                <input type="text" class="form-control input-lg text-center" placeholder="Inserta Num 2" id="num2" ng-model="formData.num2"><br>
                <br>
            </div>
            <button class="btn btn-primary btn-lg" ng-click="sumar()">Sumar</button>
            <button class="btn btn-primary btn-lg" ng-click="multi()">Multiplicar</button><br>
            <h2>Resultado</h2>
            
            {{resultado}}
         </form>
</body>
</html>

  
