<H1>Pagina principal</H1>
<p>Aqui debe estar el menu</p>
<h1>opciones:</h1>
<nav><a routerLink="/">/Inicio</a></nav>
<nav><a routerLink="/">/Home</a></nav>
<nav><a routerLink="/">/Login</a></nav>
<nav><a routerLink="/">/RegistroUsusario</a></nav>
<nav><a routerLink="/">/RegistroInmueble</a></nav>
<nav><a routerLink="/crearUbicacion">/crearUbicacion</a></nav>
<nav><a routerLink="/consultarApartamento">/consultarApartamento</a></nav>
<nav><a routerLink="/">/ConsultarCasa</a></nav>
<nav><a routerLink="/">/ConsultarOtros</a></nav>

<router-outlet></router-outlet>
